body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.todo-container {
  width: 100%;
  height: 100%;
  background-color: white;
}

input {
  padding: 15px;
  font-size: 20px;
}

.input-error {
  border: 1px solid red;
}
